.shape {
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);

  border-bottom: 30px solid rgb(5, 255, 143);
  border-left: 30px solid rgb(166, 255, 0);;
  border-right: 30px solid  rgb(225, 0, 255);;
  border-top: 30px solid rgb(255, 217, 0);
}